@import url(/../css/reset.css);

@import url(reset.css);
html {
height: 100%;
}
body{
	background: -webkit-linear-gradient(top, blue 48%, green 10%, yellow 50%); 
	background: -moz-linear-gradient(top, blue 48%, green 10%, yellow 50%);
	background: -o-linear-gradient(top, blue 48%, green 10%, yellow 50%);
	background: linear-gradient(top, blue 48%, green 10%, yellow 50%);
	background-repeat: no-repeat;
	background-attachment: fixed
	height: 100%
}
#box{
    margin:10% auto;
    width: 800px;
	height: 600px;
    border: 1px solid black;
    background-color: red;
	-moz-border-radius: 20px 40px;
	-webkit-border-radius: 20px 40px;
	-webkit-box-shadow:inset 10px 10px 20px green,10px 10px 20px #FE2E2E;
	-moz-box-shadow:inset 10px 10px 20px green,10px 10px 20px #FE2E2E;
}

#box div:nth-of-type(2n){
border-left:1px solid black;
border-right:1px solid black;
}

.text{
	width: 264px;
	height: 600px;

	float:left;
	text-align:center;
	line-height:600px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 800%;
	text-shadow: 2px 2px 2px grey;

}

.text{
	-webkit-animation-name:rotation;
	-webkit-animation-duration:60s;

}
@-webkit-keyframes rotation{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(180deg);
	}
}

